<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.thoughtdelimited.mango.plugins.googlePlusOne" name="Google Plus One" version="1.0" provider-name="bcswartz" class="googlePlusOne.Handler">
	<description>
		<![CDATA[
		Adds a Google +1 button and a counter of how many +1s have been received by the post at the bottom of the post.
		]]>
	</description>

	<requiresVersion match="greaterOrEqual">1.3</requiresVersion>
	
	<listens>
		<event name="beforeHtmlHeadEnd" type="synch" priority="5" />
		<event name="settingsNav" type="synch" priority="5" />
		<event name="showGooglePlusOneSettings" type="synch" priority="5" />
		<event name="beforePostContentEnd" type="synch" priority="5" />
	</listens>

</plugin>